
body {
	font-family: 'Open sans', sans-serif;
	background-color: white;
	}

h1 {
	font-weight: lighter;
	font-size: 90px;
	margin-left: 330px;
	margin-top: 20px;
	}

h2 {
	color: grey;
	font-weight: bold;
	font-size: 30px;
	width: 130px;
	float: left;
	margin: 30px;
	margin-top: -10px;
	}
	
h3 {
	color: grey;
	font-size: 15px;
	margin-left: 300px;
	}

img {
 	margin-left: 110px;
 	}

p {
	width: 60%;
	color: grey;
	margin-left: 300px;
	}

h4 {
	font-size: 12px;
	font-weight: normal;
	margin-left: 300px;
	}
	
img {
	border-radius: 20px;
	}	
	
a {
 	font-weight: bold;
 	font-size: 40px;
 	width: 20px;
 	color: grey;
 	float: right;
 	margin: 10px;
 	margin-right: 50px;
 	margin-top: -60px;
 	}
 	
 nav {
	font-size: 50px;
	font-weight: lighter;
	border-radius: 15px;
	margin-top: 200px;
	}

footer {
	color: grey;
	font-weight: lighter;
	margin-left: 350px;
	margin-top: 350px;
	}